
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.carrossel-aumigos {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 40px auto; 
    overflow: hidden; 
}

.carrossel-imagens {
    display: flex; 
}

.carrossel-imagens img {
    width: 100%;
    flex-shrink: 0; 
}

/* Estilos dos Botões do Carrossel */
.btn-anterior, .btn-proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* O truque para centralizar perfeitamente na vertical */
    
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de transparência */
    color: white;
    border: none;
    border-radius: 50%; /* Deixa o botão redondo */
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer; /* Muda o cursor para uma "mãozinha" ao passar por cima */
    transition: background-color 0.3s ease; /* Efeito suave na mudança de cor */
}

.btn-anterior:hover, .btn-proximo:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fica mais escuro ao passar o mouse */
}

.btn-anterior {
    left: 10px; /* Posiciona a 10px da borda esquerda */
}

.btn-proximo {
    right: 10px; /* Posiciona a 10px da borda direita */
}

/* Estilos do Cabeçalho */
header {
    display: flex;
    justify-content: space-between; /* Coloca um item no início e outro no fim */
    align-items: center; /* Alinha verticalmente os itens no centro */
    padding: 10px 40px; /* Adiciona um respiro interno */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
}

.logo {
    height: 70px; /* Ajuste a altura do logo conforme necessário */
}

header nav ul {
    list-style: none; /* Remove as bolinhas da lista */
    margin: 0;
    padding: 0;
    display: flex; /* Alinha os itens do menu lado a lado */
}

header nav li {
    margin-left: 20px; /* Adiciona um espaço entre os itens do menu */
}

header nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #555;
    font-weight: bold;
}